
.grid-container {
    display: grid;
    grid-template-areas: ". ." ". .";
    overflow: hidden;

    header {
        background-color: #7477BF;
        color: #F2F2F2;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    nav {
        background-color: #4D4C72;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .main {
        background-color: #F2F2F2;
        grid-column-start: 2;
        grid-column-end: 3;
        padding: 5%;
    }

    @media screen and (min-width: $small) {
        grid-template-columns: 15% 85%;
        grid-template-rows: 65px 100%;
    }

    @media screen and (min-width: $medium) {
        grid-template-columns: 10% 90%;
        grid-template-rows: 75px 100%;
    }

    @media screen and (min-width: $large) {
        grid-template-columns: 7% 93%;
        grid-template-rows: 85px 100%;
        grid-template-areas: ". ." ". .";
    }
  }